<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.unsweets.gamma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".activity.ComposePostActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.EntryActivity"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GetUserInfoActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="authenticate"
                    android:scheme="gamma" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/PreferenceTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.unsweets.gamma.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.FilesActivity"
            android:parentActivityName=".activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.unsweets.gamma.activity.MainActivity" />
        </activity>
        <activity android:name=".activity.EditProfileActivity" />
    </application>
</manifest>