<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.unsweets.gamma">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name=".GammaApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.PostService"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".presentation.activity.ComposePostActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Translucent"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />
        <activity android:name=".presentation.activity.LoginActivity" />
        <activity
            android:name=".presentation.activity.EntryActivity"
            android:theme="@style/AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activity.VerifyTokenActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="authenticate"
                    android:scheme="gamma" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activity.SettingsActivity"
            android:exported="true"
            android:parentActivityName=".presentation.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.unsweets.gamma.presentation.activity.MainActivity" />
        </activity>
        <activity
            android:name=".presentation.activity.FilesActivity"
            android:parentActivityName=".presentation.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.unsweets.gamma.presentation.activity.MainActivity" />
        </activity>
        <activity
            android:name=".presentation.activity.PhotoViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/AppTheme.Translucent.FullScreen" />
    </application>
</manifest>